html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

body {
    padding: 0;
    margin: 0;
    background: #5cc6cc;
}
.navbar {
    background:#b446a5;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;

}
.navbar-collapse {
    justify-content: flex-end;
}




.header {
    background-image: url('images/cover_photo1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.description {
	left: 27%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #000000;
}
.description p {
	color: #000000;
	font-size: 1.3rem;
	line-height: 1.5;
}

.features {
	margin: 0 0;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
